
.landing { 
    height: 100vh;
    background-color: var(--neutral-1);
}
.landing > img {
    position: absolute;
    top: 24px;
    left: 24px;
    width: 140px;
}
.landing-left {
    padding: 24px;
    width: 100%;
    max-width: 900px;
}
.landing-left-child {
    margin: auto;
    gap: 32px;
    width: 100%;
    max-width: 500px;
}
.landing-left-child > h3 {
    line-height: 140%;
}
.ctaContainer {
    width: fit-content;
    gap: 24px;
}
.landing-right {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: black;
}
.landing-right-imgCont > img {
    position: absolute;
    inset: -9999px;
    margin: auto;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
    filter: brightness(50%);
    transition: opacity 1s;
}
.landing-right-imgCont > p {
    position: absolute;
    inset: 20px;
    max-width: 800px;
    top: auto;
    bottom: 12px;
    color: rgb(255, 255, 255);
    z-index: 1;
    transition: opacity 1s;
}